<html>
  <head>
    <meta charset="UTF-8">
    <script src="./data.js"></script>
    <script src="./tm.js" defer></script>
    <script src="./main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <main id="app" v-bind:key="locale">
      <select v-model="locale" @change="changeLocale()">
        <option value="en">English</option>
        <option value="jp">日本語</option>
      </select>
      <section class="settings">

        <div id="program-edit">
          <textarea class="program" type="text" v-model="program_string"></textarea>
        </div>

        <div id="machine-settings">
          <label for="delay">{{ strings.label.speed }}</label>
          <div id="speed-slider">
            <span>{{strings.label.speed_fast}}</span>
            <input id="speed" type="range" min="1" max="3" step="0.25" value="2" class="slider" v-model.number="speed" v-bind:disabled="isRunning" />
            <span>{{strings.label.speed_slow}}</span>
          </div>
          <label for="tape-length">{{ strings.label.tape_length }}</label>
          <input id="tape-length" type="number" min="10" value="10" v-model.number="tape_length" @input="resetContents()" v-bind:disabled="isRunning"/>

          <label for="init-state">{{ strings.label.init_state }}</label>
          <input id="init-state" type="text" v-model="init_state" v-bind:disabled="isRunning"/>
        </div>

        <div id="tapes-settings">
          <div class="tape-settings" v-for="i in n_tapes">
            <h3>{{ strings.label.tape.replace("%i%", i) }}</h3>
            <label v-bind:for="`tape-${i}-input`">{{ strings.label.input }}</label>
            <input v-bind:id="`tape-${i}-input`" class="tape-input" type="text" v-model="tapes[i-1].input" @input="resetContents(i - 1)" v-bind:disabled="isRunning"/>
          </div>
        </div>

        <div class="modify-tape-count">
          <button @click="add_tape()">{{ strings.label.add_tape }}</button>
          <button @click="remove_tape()">{{ strings.label.remove_tape }}</button>
        </div>
      </section>

      <section id="machine">
        <div id="operation">
          <button @click="step()">{{ strings.label.step }}</button>
          <button @click="run()">{{ strings.label.run }}</button>
          <button @click="stop()">{{ strings.label.stop }}</button>
          <button @click="reset()">{{ strings.label.reset }}</button>
        </div>
        <ol id="machine-state">
          <li>
            <label>{{ strings.label.current_state }}</label>
            <span>{{ current_state }}</span>
          </li>
          <li>
            <label>{{ strings.label.next_rule }}</label>
            <span>{{ next_rule }}</span>
          </li>
        </ol>
        <div class="tapes">
          <div v-for="tape in tapes" class="tape">
            <span v-bind:class="i == tape.head_pos ? 'head' : ''" v-for="c,i in tape.content"> {{c}} </span>
          </div>
        </div>
      </section>
      <section id="state-history">
        <h3>State Transition History</h3>
        <div>
          <label id="total-steps">{{ strings.label.total_steps }}: {{ steps }}</label>
          <table>
            <tr v-for="sh in state_history">
              <td>{{ sh.state }}</td>
              <td>{{ sh.rule }}</td>
            </tr>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
