<html>
  <head>
    <meta charset="UTF-8">
    <script src="./tm.js" defer></script>
    <script src="./main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <main id="app">
      <section class="settings">

        <textarea class="transition-table" type="text" v-model="transition_table_string"></textarea>

        <div class="machine-settings">
          <label for="delay">実行スピード</label>
          <input id="delay" type="number" min="0" value="1" step="100" v-model.number="delay"/>
          <label for="tape-length">テープ長</label>
          <input id="tape-length" type="number" min="10" value="10" v-model.number="tape_length" @input="resetContents()"/>

          <label for="init-state">初期状態</label>
          <input id="init-state" type="text" v-model="init_state"/>
        </div>

        <div class="tapes-settings">
          <div class="tape-settings" v-for="i in n_tapes">
            <h3>テープ{{i}}</h3>
            <label v-bind:for="`tape-${i}-head-init-pos`">ヘッド初期位置</label>
            <input v-bind:id="`tape-${i}-head-init-pos`" class="head-init-pos" type="number" min="0" value="1" v-model.number="tapes[i-1].head_init_pos"/>

            <label v-bind:for="`tape-${i}-input`">入力</label>
            <input v-bind:id="`tape-${i}-input`" class="tape-input" type="text" v-model="tapes[i-1].input" @input="resetContents(i - 1)"/>
          </div>
        </div>

        <div class="modify-tape-count">
          <button @click="add_tape()">テープを追加</button>
          <button @click="remove_tape()">テープを削除</button>
        </div>
      </section>
      <button @click="run()">Run</button>

      <section class="machine">

        <div class="current-state">状態: {{ current_state }}</div>
        <div class="current-rule">規則: {{ current_rule }}</div>

        <div class="tapes">
          <div v-for="tape in tapes" class="tape">
            <span v-bind:class="i == tape.head_pos ? 'head' : ''" v-for="c,i in tape.content"> {{c}} </span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
