.tape-cell {
    width: 25px;
    height: 25px;
}

main {
    padding-left: 20px;
}

.settings {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#program-edit {
  display: flex;
  flex-direction: column;
}

.program {
    margin: 5px 20px 10px 0;
    width: 400px;
    max-width: 400px;
    min-width: 200px;
    height: 500px;
}

#machine-settings {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 250px;
}

#machine-settings label {
    margin-top: 20px;
    margin-bottom: 5px;
}

#tapes-settings {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.tape-settings {
    display: flex;
    align-self: start;
    align-items: center;
    margin-left: 20px;

    padding: 10px;
}

.tape-settings .head-init-pos {
    width: 50px;
}

.tape-settings .tape-input {
    width: 100px;
}

button {
    align-self: flex-end;
    margin: 5px;
}

.tape-settings h3 {
    margin: 0;
}

.tape-settings label {
    margin-left: 30px;
    margin-right: 10px;
}

.head {
    background: #00AAFF88;
}

#machine-state {
  list-style: none;
  padding: 0;
}

#machine-state li label {
  display: inline-block;
  width: 150px;
}

#state-history table td:first-child {
  width: 200px;
}

#total-steps {
  font-style: italic;
}

.tape {
    display: flex;
    flex-direction: row;
}

.tape span {
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
    width: 12px;
}

.modify-tape-count {
    padding: 5px;

}
